// NAVBAR colorS 

.top-nav-bar-black {
    background-color: black;
    color: white !important;
}

.top-nav-bar-white {
    background-color: white;
    color: rgb(53, 45, 45) !important;
}

.top-nav-bar-custom {
    background-color: #b4f3e2;
    color: rgb(53, 45, 45) !important;
}

// NAVBAR COMPONENTS 

.top-nav-bar-white, .top-nav-bar-black, .top-nav-bar-custom {
    .top-nav-bar-logo{
        // background-color: whitesmoke;
        // padding: 20px;
        margin: 10px;
        // height: 50px;
        // width: 300px;
        @media screen and (min-width: 768px){
            margin-left: 30px;
        }
    }
    .top-nav-bar-page-link-container {
        margin: 20px;
        @media screen and (min-width: 768px){
            margin-left: 50px;
        }
    }
}